<a href="https://colab.research.google.com/github/dave165189/Machine-learning/blob/main/mini_project_12_tweet_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

----
## **Tweet Search / Download**
----

----
#### **Install Package**
----

In [1]:
!pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.10/dist-packages (4.13.0)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (3.4)

----
#### **Add Credentials**
----

In [2]:
access_token = "501682241-ZG1DshytyxUIUY8FXPoH2AXaDG9d5DQlORemfAzU"
access_token_secret = "mxwCYkDjgWG5qWy8ONtVs3j2lxiYSxyberVVa92jmd27z"
consumer_key = "we0Drpnvc1FZNazKkiKoFWlGf"
consumer_secret = "OXRvmJwM6ca9k90XMIMoktSCa5XvjNieqJivcfjbOAlmpO6RhH"

----
#### **Importing Important Libraries**
----

In [8]:
import os
import tweepy as tw
import pandas as pd

In [9]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

----
#### **Look for tweets and build a dataframe**
----

In [11]:
# Define the search term and the date_since date as variables
search_words = "#FIFA"
date_since = "2023-12-02"

In [13]:
# Collect tweets
tweets = tw.Cursor(api.search_tweets,
              q='ronaldo',
              lang="en",
              since=date_since).items(10)

# Iterate and print tweets
for tweet in tweets:
    print(tweet.text)

WARNING:tweepy.api:Unexpected parameter: since

In [14]:
# Collect tweets
results = api.search_tweets(q='ronaldo', count=100)

# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in results], columns=['Tweets'])

# We display the first 10 elements of the dataframe:
display(data.head(10))

                                              Tweets
0  RT @Badroninho: Media really tried to portray ...
1  RT @ChaaliiyKay: Messi Fans: Messi for his 8th...
2  RT @TeamCRonaldo: This Saudi combined XI kit l...
3  @Ruf_ayi @the_marcoli_boy @Afia_Dimple @AlphaS...
4  RT @RICH__UTD: HT: 0-2 Spurs\nFT: 5-2 United\n...
5  RT @TeamCRonaldo: Cristiano Ronaldo and Georgi...
6  RT @FrankKhalidUK: üáµüáπ Cristiano Ronaldo has lo...
7  RT @ishowspeedsui: i met him ronaldoüáµüáπ https:/...
8  RT @TeamCRonaldo: Speed met Ronaldo's brother ...
9  RT @futtmais: ‚ö†Ô∏è Abel Ferreira recusou duas pr...

In [15]:
data

                                               Tweets
0   RT @Badroninho: Media really tried to portray ...
1   RT @ChaaliiyKay: Messi Fans: Messi for his 8th...
2   RT @TeamCRonaldo: This Saudi combined XI kit l...
3   @Ruf_ayi @the_marcoli_boy @Afia_Dimple @AlphaS...
4   RT @RICH__UTD: HT: 0-2 Spurs\nFT: 5-2 United\n...
..                                                ...
95  RT @essediafoilouco: O duelo entre Cristiano R...
96  @Goal432 @adamdandler6 @PremLeaguePanel In ord...
97  RT @_AsiwajuLerry: This side of Cristiano Rona...
98  RT @YRNCaxton: The Complete Journey of Speed m...
99  Rafael Leao finally meets Cristiano Ronaldo an...

[100 rows x 1 columns]

Find more at [Tweet Extraction](https://github.com/RodolfoFerro/pandas_twitter/blob/master/01-extracting-data.md)

In [16]:
# Internal methods of a single tweet object:
print(dir(results[0]))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'metadata', 'parse', 'parse_list', 'place', 'quoted_status_id', 'quoted_status_id_str', 'retweet', 'retweet_count', 'retweeted', 'retweeted_status', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

In [ ]:
# We print info from the first tweet:
print(results[0].id)
print(results[0].created_at)
print(results[0].source)
print(results[0].favorite_count)
print(results[0].retweet_count)
print(results[0].geo)
print(results[0].coordinates)
print(results[0].entities)